
.user-nav-warp {
    position: relative;
    min-width: 1440px;
    font-size: 1.4rem;
    background-color: #403042;
    height: 4.5rem;
}

.left-nav {
    position: absolute;
    left: 2rem;
}

.right-nav {
    position: absolute;
    right: 9rem;
}

.right-nav li,
.left-nav li {
    display: inline-block;
    height: 4.5rem;
    line-height: 4.5rem;
    padding: 0 1rem 0 1rem;
    float: left;
    border-right: 1px solid rgba(255, 255, 255, 0.05);
}

.right-nav li a,
.left-nav li a {
    display: inline-block;
    height: 4.5rem;
    line-height: 4.5rem;
    text-align: center;
    color: rgba(255, 255, 255, 0.8);
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.right-nav li a:hover,
.left-nav li a:hover {
    color: rgba(255, 255, 255, 1);
}

.header-wrap {
    color: #fff;
    background-color: #4c394e;
    padding: 1rem;
    position: relative;
    display: flex;
    z-index: 1;
}

.header-wrap .logo {
    width: 20%;
    font-size: 2rem;
    font-weight: bold;
    vertical-align: middle;
    text-align: center;
}

.header-wrap .search-wrap {
    width: 80%;
    display: flex;
    display: -webkit-flex;
}

.header-wrap .search-wrap form {
    width: 100%;
    flex-grow: 1;
}

.header-wrap .search-wrap::before {
    position: absolute;
    width: 2.5rem;
    top: 1.9rem;
    /* left: 0.4rem; */
    height: 2.5rem;
    z-index: 3;
    content: "";
    background: url(../img/s.png) no-repeat center;
}

.header-wrap .search-wrap input {
    height: 4rem;
    padding: 0 0 0 3rem;
    width: 75%;
    line-height: 4.5rem;
    outline: none;
}

.header-wrap .search-wrap .btn-search {
    display: inline-block;
    width: 12%;
    height: 4rem;
    line-height: 4rem;
    color: #ffffff;
    min-width: 14rem;
    padding: 0;
    background-color: #10bbd5;
    border: 0;
    border-radius: .5rem;
}

.secondary-header-wrap {
    display: -webkit-flex;
    display: flex;
    padding: 0 3rem 0 1rem;
    height: 4rem;
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

.secondary-header-wrap .page-links {
    display: flex;
    display: -webkit-flex;
    width: 80%;
}

.secondary-header-wrap .page-links li {
    display: inline-block;
    position: relative;
    height: 4rem;
    margin: 0 2rem 0 2rem;
    line-height: 4rem;
    float: left;
}

.secondary-header-wrap .page-links li a {
    display: inline-block;
    height: 4rem;
    line-height: 4rem;
    color: #333;
}

.secondary-header-wrap .page-links li .fa {
    font-size: 1rem;
    color: #333333;
}

.secondary-header-wrap .page-links li .nav-line {
    position: absolute;
    height: .3rem;
    bottom: 0;
    left: -100px;
    opacity: 0;
    background-color: #000000;
    width: 100%;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.secondary-header-wrap .page-links li:hover span {
    opacity: 1;
    left: 0;
}

.secondary-header-wrap .shopping-cart {
    width: 20%;
    display: -webkit-flex;
    display: flex;
    height: 4rem;
}

.secondary-header-wrap .shopping-cart span {
    height: 4rem;
    line-height: 4rem;
    text-align: center;
    width: 50%;
    color: #ffffff;
    background-color: #ff0072;
}

.secondary-header-wrap .shopping-cart span .nav-total-num {
    display: inline-block;
    color: #ffffff;
    margin: 0 .5rem 0 .5rem;
}

.secondary-header-wrap .shopping-cart span:nth-child(2) {
    border-left: 1px solid rgba(255, 255, 255, .4);
}
